<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>   
		<rewrite>  
	      <rules>  
	        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">  
	          <match url="^server.js\/debug[\/]?" />  
	        </rule>            
	        <rule name="Application">  
	          <action type="Rewrite" url="server.js"/>  
	        </rule>  
	      </rules>  
	    </rewrite>  
	</system.webServer>
</configuration>